.new-expense__controls {
    display: inline-block;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    padding: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 43vw;
    max-width: 100%;
  }
  
  .new-expense__actions {
    text-align: right;
  }